<%= include_gon(:init => true) %>
<% raise %>
<% @stocks = @portofolio.stocks.order(:symbol) %>
<div id='portfolio_show'>
  <h1><%= @portfolio.name %></h1>
  <%= hidden_field(:portfolio, :id, :value => @portfolio.id) %>
  <div class="row">
    <div class="col-md-12">
      <div class='js-stocks'>
        <%= render partial: "stocks/list", class: 'stockslist', locals: { stocks: @stocks } %>
      </div>

      <div class='new-stock'>
           <%= render 'stocks/form', stock: Stock.new, portfolio: @portfolio %>
      </div>
    </div>
  </div>

  
</div>
