<%= include_gon(:init => true) %>
<div id='portfolio_show'>
  <h1><%= @portfolio.name %></h1>
  <%= hidden_field(:portfolio, :id, :value => @portfolio.id) %>
  <div class="row">
    <div class="col-md-8">
      <div class='js-stocks'>

        <%= render partial: "stocks/list", class: 'stockslist', locals: { stocks: @portfolio.stocks } %>
      </div>

      <div class='new-stock'>
           <%= render 'stocks/form', stock: Stock.new, portfolio: @portfolio %>
      </div>
    </div>

    <div class="col-md-4">

      <%= link_to "Edit Portfolio", edit_portfolio_path(@portfolio), class: 'btn btn-success' %>
      <%= link_to "Delete Portfolio", @portfolio, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this portfolio?'} %>
    </div>
  </div>
</div>

<script>

    init_count($("#portfolio_id").val());

</script>
