 <% @portfolio_stock = PortfoliosStocks.where(stock: stock).first %>
 <% if @portfolio_stock.updated_at > Time.now-3.seconds %>



     <span class="stock-text transition-bold transition-color transition-bg-color text-bold" id="<%= "stock-#{stock.id}" %>">
       <div class="col-md-2 stock_symbol"><%= stock.symbol %></div>
       <div class="col-md-2 stock_ltpo stock_dynamic"><%= stock.lasttradepriceonly %></div>
       <div class="col-md-2 stock_change stock_dynamic"><%= stock.change %></div>
       <div class="col-md-2 stock_volume stock_dynamic"><%= stock.volume %></div>
       <div class="col-md-2 stock_updated_at stock_dynamic"><%= stock.updated_at %></div>
     </span>
 

 <% else %>

     <span class="stock-text transition-color transition-bg-color" id="<%= "stock-#{stock.id}" %>">
       <div class="col-md-2 stock_symbol"><%= stock.symbol %></div>
       <div class="col-md-2 stock_ltpo stock_dynamic"><%= stock.lasttradepriceonly %></div>
       <div class="col-md-2 stock_change stock_dynamic"><%= stock.change %></div>
       <div class="col-md-2 stock_volume stock_dynamic"><%= stock.volume %></div>
       <div class="col-md-2 stock_updated_at stock_dynamic"><%= stock.updated_at %></div>
     </span>


<% end %>


