<% @portfolio_stock = PortfoliosStocks.where(stock: stock).first %>
<% @change_fraction = stock.change.to_f / (stock.lasttradepriceonly.to_f + stock.change.to_f) %>
<% @change_percentage = number_to_percentage(@change_fraction * 100, precision: 2) %>
<% @change_sign = @change_fraction >= 0 ? "+" : nil %>
<% @change_pct_string = @change_sign.to_s + @change_percentage.to_s %>
<% @change_string = @change_sign.to_s + number_with_precision(stock.change, precision: 2).to_s %>
  

      <span class="stock-text transition-color transition-bg-color" id="<%= "stock-#{stock.id}" %>">
        <div class="col-md-1 stock_symbol"><%= link_to stock.symbol, stock_history_path(stock.id)%></div>
        <div class="col-md-1 stock_ltpo stock_dynamic"><%= number_with_precision(stock.lasttradepriceonly, precision: 2) %></div>
        <div class="col-md-1 stock_change stock_dynamic"><%= @change_string %></div>
        <div class="col-md-1 stock_percent stock_dynamic"><%= @change_pct_string %></div>
        <div class="col-md-2 stock_volume stock_dynamic"><%= number_to_human(stock.volume) %></div>
        <div class="col-md-2 stock_avg_volume"><%= number_to_human(stock.averagedailyvolume) %></div>
        <div class="col-md-4"><canvas class="tick_chart" width=360 height=24 id="<%= "canvas-#{stock.id}" %>">canvas</canvas></div>
      </span>



<script>
    var canvas = $('#canvas-<%= stock.id %>')[0]
    var width = canvas.width;
    var colorArray = <%= raw stock.ticks.to_json %>

    show(canvas, colorArray, width)
    
    
    $( ".stock_change, .stock_percent" ).each(function(index, d) {
      
      var price_str = $( d ).text()
      var price_sym = price_str.charAt(0);

      if (price_sym == "+"){
        $( d ).addClass("text-success")
      }
      else if (price_sym == "-") {
        $( d ).addClass("text-danger")
      }
    })

</script>