 <% if @stock.valid? && @portfolio_stock == false %>

    $list = $("<%= j render(@portfolio.stocks) %>");
    
    
    $(".js-stocks").hide().html($list).fadeIn("slow", function() {
       $('#stock-<%= @stock.id %>').removeClass( "bg-success text-success" ).addClass( "white-bg" );
    })
    
    $('.new-stock').html("<%= escape_javascript(render partial: 'stocks/form', locals: { portfolio: @portfolio, stock: Stock.new }) %>");
   
 <% else %>

   $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:alert] %></div>");
   $('.new-stock').html("<%= escape_javascript(render partial: 'stocks/form', locals: { portfolio: @portfolio, stock: Stock.new }) %>");
 <% end %>

  <% unless @portfolio.stocks.empty? %>
     $('.empty_head').remove()
     <!--init check refresh-->

  <% end %>
