

      <span class="history-detail <%= 'bg-info' if index % 2 > 0 %>" id="<%= "history-#{history.id}" %>">
        
        <div class="col-md-2 history_date "><%= history.date %></div>
        <div class="col-md-2 history_open"><%= history.open %></div>
        <div class="col-md-1 history_high"><%= history.high %></div>
        
        <div class="col-md-1 history_low"><%= history.low %></div>
        <div class="col-md-2 history_close"><%= history.close %></div>
        <div class="col-md-2 history_volume"><%= history.volume %></div>
        <div class="col-md-2 history_adj_close"><%= history.adj_close %></div>
        
      </span>
