<div>
  <%= form_for [user, alert], :class => 'alert-create-ajax inline', remote: true do |f| %>

    <div class="form-group">

    <div class="col-md-2">
      <%= f.text_field :symbol,
                       class: 'form-control',
                       value: "" %>
      <%= f.label :symbol %>  
    </div>
    <div class="col-md-2">
      <%= f.text_field :price_initial,
                       :step => 'any',
                       class: 'form-control',
                       disabled: true,
                       value: "" %>
      <%= f.label "initial price"%>
    </div>
    <div class="col-md-2">
      <%= f.number_field :price_target, 
                      :step => 'any',
                       class: 'form-control',
                       disabled: true,
                       value: "" %>
      <%= f.label "target price"%>                 
    </div>          
    
    <div class="col-md-2">                 
    <%= f.datetime_field :expire,
                     class: 'form-control',
                     disabled: true,
                     value: "" %>
    <%= f.label "expiration"%>                    
    </div>   
    <div class="col-md-4"> 
    <%= button_to "Add Alert", new_user_alert_path(@user, @alert), class: 'btn btn-success pull-left', disabled: true  %>


    </div>
    </div>
    <% end %>
  

</div>
