<!DOCTYPE html>
<html>
<head>
  <title>Blocpicker</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <%= stylesheet_link_tag    "application", media: "all" %>
   <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %>
</head>
<body>
   <div class="container">
        <div class="navbar" role="navigation">
        <ul class="nav navbar-nav">
          <%= render "devise/shared/links" %>
          <% if user_signed_in? %>

          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'navbar-link' %></li>
          <% else %>

          <% end %>
        </ul> 
        </div>
  <%= flash_messages %>
    <%= yield %>

</body>

</html>
